{% extends "base.html" %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center bg-cover bg-center space-y-10" >
    
    <div class="bg-white bg-opacity-70 p-10 rounded-xl shadow-lg backdrop-blur-md text-center animate-fadeIn mt-10">
        <h2 class="text-4xl font-bold text-gray-900 mb-4">Block coding Encoder</h2>

        <form method="post" class="space-y-4">
            <div>
                <label class="text-lg font-semibold text-gray-700">Binary Sequence:</label>
                <input type="text" name="binary_sequence" required 
                    class="border rounded-lg px-4 py-2 w-full mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div>
                <label class="text-lg font-semibold text-gray-700">Encoding:</label>
                <select name="encoding" 
                    class="border rounded-lg px-4 py-2 w-full mt-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="4B5B">4B/5B</option>
                    <option value="8B10B">8B/10B</option>
                </select>
            </div>

            <button type="submit" 
                class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-md transition transform hover:scale-105">
                Generate Signal
            </button>
        </form>
        {% if plot_url %}
            <h3 class="text-xl font-semibold text-gray-800 mt-6">Generated Signal: ({{encoding_type}})</h3>
            <p class="text-lg text-gray-700 text-left mt-5"><strong>I/P Signal:</strong> {{ binary_sequence }}</p>
            <p class="text-lg text-gray-700 text-left"><strong>Scrambled Signal:</strong> {{ blocked_string }}</p>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Signal Plot" class="rounded-lg shadow-lg mt-4 animate-fadeIn">
            
        {% endif %}
    </div>

    <div class="bg-white bg-opacity-70 p-8 rounded-xl shadow-lg backdrop-blur-md  animate-fadeIn delay-200">
        <h2 class="text-4xl font-bold text-gray-900 mb-4 text-center">How Block coding works?</h2>
        <p class="text-xl text-gray-700 mt-5 text-left">
            Block coding is normally referred to as mB/nB coding; It replaces each m-bit group with an n-bit group.
        </p>
        <ul class="text-xl text-gray-700 mt-5 text-left list-disc pl-10">
            <li>Block codes provide redundancy and improve the performance of line coding.</li>
            <li>Redundancy is needed for synchronization and providing some kind of inherent error detection.</li>
            <li>Block coding changes a block of <strong>m</strong> bits into a block of <strong>n</strong> bits (<strong>n > m</strong>).</li>
            <li>Referred to as the <strong>mB/nB encoding</strong> technique, it involves 3 steps:
                <ul class="list-disc pl-10">
                    <li><strong>Division</strong> – The sequence of bits is divided into m-bit groups.</li>
                    <li><strong>Substitution</strong> – Each m-bit group is replaced with an n-bit group.</li>
                    <li><strong>Combination</strong> – The n-bit groups are combined to form a data stream.</li>
                </ul>
            </li>
        </ul>
        
        <h4  class="text-2xl font-bold text-gray-900 mt-3 mb-4 text-left"> 1. 4B5B </h4>
        <ul class="text-xl text-gray-700 mt-5 text-left list-disc pl-10">
            <li>A 4 bit data word can have 24 = 16 combinations.</li>
            <li>A 5 bit word can have 25 = 32 combinations.</li>
            <li>No. of extra words = 32 – 16 = 16. </li>
            <li>Some of these extra words are used for control/signaling purposes.</li>
        </ul>
        <img src ={{ url_for('static', filename='4b5b_1.png') }} class ="bg-opacity-70 p-8 rounded-xl shadow-lg w-lg">
        <img src ={{ url_for('static', filename='4b5b_2.png') }} class ="bg-opacity-70 p-8 rounded-xl shadow-lg w-lg">
        
        <h4  class="text-2xl font-bold text-gray-900 mb-4 text-left"> 2. HDB3 </h4>
        <ul class="text-xl text-gray-700 mt-5 text-left list-disc pl-10">
            <li>No. of redundant bits = 2^10 – 2^8 = 768 .</li>
            <li>The 8B10B block code adds more redundant bits.</li>
            <li>Thereby choose code words that would prevent a long run of a voltage level that would cause DC components</li>
        </ul>             
        <img src ={{ url_for('static', filename='8b10b.png') }} class ="object-center bg-opacity-70 p-8 rounded-xl shadow-lg w-lg">

    </div>
</div>
<style>
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
    animation: fadeIn 1s ease-out;
}
</style>
{% endblock %}
