<nav class="bg-gradient-to-r from-blue-500 to-purple-600 p-4 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl font-bold">SignalPlot</a>
        <div>
            <a href="/" class="text-white px-4 hover:text-gray-200">Home</a>
            <a href="#" class="text-white px-4 hover:text-gray-200">About</a>
            <a href="/block-coding" class="text-white px-4 hover:text-gray-200">Block Coding</a>
            <a href="/scrambling" class="text-white px-4 hover:text-gray-200">Scrambling</a>


        </div>
    </div>
</nav>
